{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block header %}
{{ super() }}
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    Information
</nav>
{% endblock %}

{% block content %}

<div class="card border-secondary mb-3" style="max-width: 18rem; margin:10px;">
    <div class="card-header">DB Settings</div>
    <div class="card-body text-secondary">
        <!--<h5 class="card-title">Secondary card title</h5>-->
        <p class="card-text">Server: {{settings["db"]["server"]}}</p>
        <p class="card-text">Db: {{settings["db"]["database"]}}</p>
    </div>
</div>


{% endblock %}